body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 550px;
  padding: 16px;
  background: #fafafa;
}

.header {
  display: flex;
  align-items: center;

  h1 {
    font-size: 16px;
    margin: 0;
  }

  .env {
    font-family: monospace;
    font-size: 12px;
    background: #efefef;
    color: #1f1f1f;
    border-radius: 4px;
    padding: 4px;
    margin-left: 8px;
  }
}

.url {
  display: flex;
  font-size: 12px;
  border-radius: 4px;
  overflow: hidden;
  height: 50px;

  .target {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    background: #191919;
    padding: 8px;
    font-weight: 700;
    letter-spacing: 0.1em;

    svg {
      width: 16px;
      height: 16px;
      fill: #fff;
    }
  }

  .hover {
    display: flex;
    align-items: center;
    flex: 1;
    background: #efefef;
    color: #191919;
    padding: 8px;
    font-family: monospace;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
}

.button {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  border: none;
  border-radius: 8px;
  background: #fff;
  padding: 16px 8px;
  box-shadow: 0px 5px 10px 2px #efefef73;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  cursor: pointer;

  span {
    font-size: 12px;
    text-transform: uppercase;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: #191919;
  }

  svg {
    width: 20px;
    height: 20px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    fill: #191919;
  }

  &:hover {
    background-color: #dc1e34;

    span {
      color: #fff;
    }

    svg {
      fill: #fff;
    }
  }

  &:disabled {
    background: #efefef;
    cursor: default;
    span {
      color: #ccc;
    }

    svg {
      fill: #ccc;
    }
  }
}
