body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 500px;
  padding: 16px;
  background: #fafafa;
}

.header {
  display: flex;
  align-items: center;

  h1 {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .env {
    font-family: monospace;
    font-size: 12px;
    background: #efefef;
    border-radius: 4px;
    padding: 4px;
    margin-left: 8px;
  }
}

.url {
  display: flex;
  font-size: 12px;
  border-radius: 4px;
  overflow: hidden;
  height: 50px;

  .target {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    background: #191919;
    padding: 8px;
    font-weight: 700;
    letter-spacing: 0.1em;

    svg {
      width: 16px;
      height: 16px;
      fill: #fff;
    }
  }

  .hover {
    display: flex;
    align-items: center;
    flex: 1;
    background: #efefef;
    color: #191919;
    padding: 8px;
    font-family: monospace;
  }
}

.grid {
  display: grid;

  gap: 8px;

  &.twoCol {
    grid-template-columns: repeat(2, 1fr);
  }

  &.fourCol {
    grid-template-columns: repeat(4, 1fr);
  }
}

.button {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  border: none;
  border-radius: 8px;
  background: #fff;
  padding: 16px 8px;
  cursor: pointer;

  span {
    font-size: 12px;
    text-transform: uppercase;
    color: #191919;
  }

  svg {
    width: 20px;
    height: 20px;
    fill: #191919;
  }

  &:hover {
    background: #dc1e34;

    span {
      color: #fff;
    }

    svg {
      fill: #fff;
    }
  }

  &:disabled {
    background: #efefef;
    cursor: default;
    span {
      color: #ccc;
    }

    svg {
      fill: #ccc;
    }
  }
}
